html {
  width: 10050px;
  height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #333;
}

#timer {
  position: fixed;
  right: 5%;
  top: 5%;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 50px;
}

#startBtn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: none;
  padding: 4vh;
  border-radius: 3px;
  font-size: 30px;
  color: #fff;
  background-color: #ff852b;
}

.route {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -19vh;
  width: 10000px;
  height: 30vh;
  border: 1px solid #7ab65c;
  border-top-width: 8px;
  border-left: none;
  border-right: none;
}

.bus-stop {
  width: 14vh;
  height: 100%;
  position: absolute;
  margin-left: -7vh;
  text-align: center;
}

.bus-stop .capt {
  font-family: sans-serif;
  color: rgba(122,182,92,1);
  font-weight: bold;
  line-height: 30vh;
  font-size: 5vh;
}

.bus-stop:before,
.bus-stop:after {
  content: '';
  position: absolute;
  height: 10%;
  border-left: 1px solid rgba(122,182,92,0.6);
  left: 50%;
}

.bus-stop:before {
  top: 30%;
}

.bus-stop:after {
  bottom: 31%;
}

.bus,
.another-bus {
  position: absolute;
  height: 100%;
}

.bus {
  background: linear-gradient(to bottom, rgba(255, 133, 43, 0.4), transparent);
}

.bus:before,
.bus.must-be-here:before,
.another-bus:before,
.another-bus.must-be-here:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  margin-left: -20px;
  left: 100%;
}

.bus:not(.must-be-here):before,
.another-bus:not(.must-be-here):before {
  border-top: 20px solid #ff852b;
  top: -28px;
}

.must-be-here:before {
  border-bottom: 20px solid #ff852b;
}

.another-bus:before {
  border-bottom-color: #00d1eb !important;
  border-top-color: #00d1eb !important;
}

.another-bus:not(.must-be-here):before {
  top: auto;
  bottom: 0;
}

.another-bus.must-be-here:before {
  top: auto;
  bottom: -20px;
}

.lag:before {
  border-right-width: 0 !important;
}

.lead:before {
  border-left-width: 0 !important;
  margin-left: 0 !important;
}

.another-bus > span {
  color: #fff;
  position: absolute;
  bottom: 23px;
  display: block;
  width: 50px;
  left: -25px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.another-bus.must-be-here > span {
  bottom: -42px;
}